.top{
    width: 100%;
    background: rgb(124, 124, 124);
    text-align: left;
}

.top .tb{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border: 2px solid rgb(165, 165, 165);
    padding-top: 20px;
    height: 40px;
    width: 100px;
}

.side{
    background:  rgb(124, 124, 124);
    max-width: 150px;
    text-align: center;
}
.sb {
    padding: 10px 0;
    font-size: 15px;
}
.top a, .side a{
    color: bisque;
    text-decoration: none;
}