body{
    margin: 0;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}
img[alt=html5_logo]{
       height: 80px;
}
#logo{

    float: left;
 
}
.clear{
    clear: both;
}
#welcome{
    text-align: center;
    font: 60px bold;
}
.menu ul, .sidebar ul{
    list-style: none; 
    margin: 0;
    padding-left: 0; 
  }
a{
    text-decoration: none;
}
.menu ul{
    display: flex;
    text-align: center;
}
.menu a{
    padding: 10px 0;
    display: block;
    font: 20px bold;
    width: 256px;
    color: #000;
    text-transform: uppercase;
}
.menu a:hover{
    text-decoration: underline;
}
.sidebar{
    width: 110px;
    float: left;

}
.sidebar a{
    color: #000;

    text-transform: capitalize;
    padding: 0.9em 0;

}
.sidebar a:hover{
    text-decoration: underline;
}
.sidebar li{
    margin:.8em 0;
}    
.content{
    margin-left: 120px;
}
img[alt=structure]{
    float: right;
    width: 300px;
    margin-left: 20px;
}
footer{
    background-color: #292929;
    color: #5a5a5a;
    text-align: center;
    padding: 30px;

}
img[alt=joke]{
    position: relative;
    right: 100px;
}
footer a{
    color: #5a5a5a;
    text-decoration: none;
}